<main>
    <div class="message">
        <div class="spaceDiv"><strong>404</strong></div>

        <p class="title">ON DIRAIT QUE VOUS ÊTES PERDU DANS L’ESPACE</p>
        <p class="message-text">
            La page que vous recherchez peut être supprimée ou est temporairement indisponible
        </p>
        <a class="button" routerLink="" routerLinkActive="router-link-active">ACCUEIL</a>
    </div>
</main>

<div class="box-astronaut">
    <img src="./assets/icons/astronaut.svg" alt="" />
</div>
