<h2>{{subjectConstants.SUBJECT_DETAILS_TITLE}}</h2>
<p> {{subjectDetails.sujet}} </p>
<h2>{{subjectConstants.SUBJECT_DETAILS_DESCRIPTION}}</h2>
<p> {{subjectDetails.description}}</p>
<h2 *ngIf="subjectDetails.type">{{subjectConstants.SUBJECT_DETAILS_TYPE}}</h2>
<p> {{subjectDetails.type}} </p>
<h2 *ngIf="subjectDetails.technologie.length">{{subjectConstants.SUBJECT_DETAILS_TECHNOLOGYY}}</h2>
<p> <span *ngFor="let tech of subjectDetails.technologie">
  {{tech.technologyName}},
</span> </p>
<h2 *ngIf="subjectDetails.proposepar">{{subjectConstants.SUBJECT_DETAILS_PROPOSEDBY}}</h2>
<p> {{subjectDetails.proposepar}} </p>
<h2 *ngIf="subjectDetails.department">{{subjectConstants.SUBJECT_DETAILS_DEPARTMENTS}}</h2>
<p> {{subjectDetails.department}} </p>
<h2 *ngIf="subjectDetails.niveau">{{subjectConstants.SUBJECT_DETAILS_LEVEL}}</h2>
<p> {{subjectDetails.niveau}} </p>
<h2 *ngIf="subjectDetails.statut">{{subjectConstants.SUBJECT_DETAILS_STATUS}}</h2>
<p> {{ convertStatus(subjectDetails.statut) }} </p>